<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/question.css">
    <title>Shelly</title>
</head>
<body>
    <div class="container">
        <h1>Shelly Question <%= pageId %></h1>
        <p><%= question %> </p><br>
    <a href="/shellyWrong"><%= answerA %></a>
    <% if (pageId == 3) { %>
        <a href="/win"><%= answerWin %></a>
        <a href="/shellyWrong"><%= answerC %></a>
        <% } else { %>
            <a href="/shellyWrong"><%= answerC %></a>
            <a href="/shelly/<%= +pageId + 1 %>"><%= answerB %></a>
        <% } %>
        <a id="home" href="/home">Home</a>
    </div>
    </body>
</html>